* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.navbar {
  height: 80px;
  width: 100%;
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 30px;
  z-index: 100;
}

.logo {
  /* border: 2px solid white; */
  padding: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.logo > svg {
  fill: white;
}
.navlinks {
  /* border: 2px solid white; */
  padding: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 5px;
}
.navlinks > li {
  height: 100%;
  display: flex;
  align-items: center;
}
.navlinks a {
  color: white;
  text-decoration: none;
  padding: 7.5px 16px;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.08em;
}
.navlinks > li:hover > a {
  background-color: #2b2a29;
  color: crimson;
}

.web-icons {
  /* border: 2px solid white; */
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
}
.search-icon {
  /* border: 1px solid white; */
  padding: 8px;
  border-radius: 50%;
  background-color: #2b2a29;
  cursor: pointer;
}
.web-icons > button {
  padding: 8px 16px;
  font-size: 13px;
  border-radius: 10px;
  border: none;
  background-color: #ff3c46;
  font-weight: 600;
  letter-spacing: 0.08em;
  cursor: pointer;
}
.web-icons > .web {
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}
.web-icons > .web:hover {
  background-color: #2b2a29;
}

/* HERO SECTION */
.video-container {
  height: 80vh;
  width: 100%;
  background-color: yellow;
  position: relative;
}
.video-container > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.hero-content {
  /* border: 2px solid white; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
}
.hero-content > h1 {
  margin: 32px 0 64px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ece8e1;
  font-weight: 400;
  font-family: fantasy;
}
.hero-content > button {
  padding: 18px 32px;
  background-color: #ff4655;
  color: #ece8e1;
  border: 1px solid #ece8e1;
  transition: 0.2s;
  cursor: pointer;
}
.hero-content > button:hover{
  background-color: #ece8e1;
  color: black;
}


/* LATEST SECTION */
.latest-container{
  background-color: #ece8e1;
  padding: 60px;
}
.latest-container>header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latest-container h1{
  font-size: 48px;
  font-family: fantasy;
  letter-spacing: 0.028em;
}
.latest-container p{
  font-weight: 600;
}
.card-container{
  height: 500px;
  width: 100%;
  background-color:#ece8e1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card{
  height: 450px;  
  width: 380px;
  /* padding: 0 50px 10px 50px; */
  /* border: 2px solid red; */
  background-color: #ece8e1;
  
  

}
.card-img1{
  height: 220px;
  width: 380px;
  background-color: red;
  background-image: url(/assets/card1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card > .card-img1:hover{
  scale: calc(1.05);
  transition: 0.3s ease;
}
.card-img2{
  height: 220px;
  width: 380px;
  background-color: red;
  background-image: url(/assets/card2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card > .card-img2:hover{
  scale: calc(1.05);
  transition: 0.3s ease;
}
.card-img3{
  height: 220px;
  width: 380px;
  background-color: red;
  background-image: url(/assets/card3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.card > .card-img3:hover{
  scale: calc(1.05);
  transition: 0.3s ease;
  
}
.card-name{
  height: 40px;
  width: 400px;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: sans-serif;
  font-size: 10px;
  font-size: 20px;
  padding: 8px;
  color: #ff3c46;
}

.card-name > .time{
  color:#0f1923;
}
.card-name > div{
  color: #bfbbb6;
}
.card-heading{
  height:60px;
  width: 400px;
  /* border: 1px solid blue; */
  font-family: sans-serif;
  font-weight: 1000;
  padding: 0px 10px;
  color: #0f1923;
  margin: 0 0 2px;
  font-size: larger;
  
}
.card-desc{
  height: 50px;
  width: 350px;
  color: #0f1923;
  /* border: 1px solid yellow; */
  font-family: sans-serif;
  font-size: small;
  font-weight: 549;
  letter-spacing: 0.08em;
  padding: 6px 6px;
}
.image-container{
  height: 80vh;
  width: 100%;
  background-color: aqua;
  position: relative;
}
.image-container > img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.image-content{
  /* border: 2px solid white; */
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%
}
.p-head{
  font-size: 3.5rem ;
  font-weight: 900;
  color: white;
  /* display: block; */
  /* letter-spacing: 0.1em; */
  font-family: sans-serif;
  text-transform: uppercase;
  /* line-height: 112px; */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.p-content
{
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  margin-top: 10px;
  margin-left: 0;
  max-width: 500px;
}
.image-content > button{
  background-color: #ff4655;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 25px 50px;
  /* border-radius: 5px; */
  border: none;
  color: #ece0d2;
  letter-spacing: 0.10em;
  cursor: pointer;
}
.image-content > button:hover{
  background-color: #ece0d2;
  color: black;
}
