* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.navbar {
  height: 80px;
  width: 100%;
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 30px;
  z-index: 100;
}

.logo {
  /* border: 2px solid white; */
  padding: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.logo > svg {
  fill: white;
}
.navlinks {
  /* border: 2px solid white; */
  padding: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 5px;
}
.navlinks > li {
  height: 100%;
  display: flex;
  align-items: center;
}
.navlinks a {
  color: white;
  text-decoration: none;
  padding: 7.5px 16px;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.08em;
}
.navlinks > li:hover > a {
  background-color: #2b2a29;
  color: crimson;
}

.web-icons {
  /* border: 2px solid white; */
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
}
.search-icon {
  /* border: 1px solid white; */
  padding: 8px;
  border-radius: 50%;
  background-color: #2b2a29;
  cursor: pointer;
}
.web-icons > button {
  padding: 8px 16px;
  font-size: 13px;
  border-radius: 10px;
  border: none;
  background-color: #ff3c46;
  font-weight: 600;
  letter-spacing: 0.08em;
  cursor: pointer;
}
.web-icons > .web {
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}
.web-icons > .web:hover {
  background-color: #2b2a29;
}

/* HERO SECTION */
.video-container {
  height: 80vh;
  width: 100%;
  /* background-color: yellow; */
  position: relative;
}
.video-container > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.hero-content {
  /* border: 2px solid white; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
}
.hero-content > h1 {
  margin: 32px 0 64px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ece8e1;
  font-weight: 400;
  font-family: fantasy;
}
.hero-content > button {
  padding: 18px 32px;
  background-color: #ff4655;
  color: #ece8e1;
  border: 1px solid #ece8e1;
  transition: 0.2s;
  cursor: pointer;
}
.hero-content > button:hover {
  background-color: #ece8e1;
  color: black;
}

/* LATEST SECTION */
.latest-container {
  background-color: #ece8e1;
  padding: 60px;
}
.latest-container > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latest-container h1 {
  font-size: 48px;
  font-family: fantasy;
  letter-spacing: 0.028em;
}
.latest-container p {
  font-weight: 600;
}

.card-container {
  /* border: 10px solid black; */
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
}
.card {
  /* border: 1px solid black; */
  height: 385px;
  max-width: 400px;
  cursor: pointer;
}
.card > figure {
  width: 100%;
  height: 223px;
  /* border: 5px solid black; */
  overflow: hidden;
  position: relative;
}
.card .sharelink {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  bottom: 0;
  right: 0;
  background-color: #2b2a29;
  border: 0.5px solid #2b2a29;
}
.card img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.card:hover img {
  transform: scale(1.1);
}
.card .category {
  color: #2a2a2a;
  padding-top: 15px;
  font-size: 14px;
}
.card .category > span {
  color: #ff4655;
}
.card .title {
  padding: 10px 0;
  font-size: 22px;
}
.card .description {
  font-weight: normal;
  font-size: 16px;
}

/* New Agent Section  */

.agent-container {
  height: 91vh;
  width: 100%;
  /* border: 1px solid red; */
  position: relative;
}
.agent-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.agent-content {
  /* border: 2px solid white; */
  position: absolute;
  right: 11%;
  top: 30%;
  color: white;
  letter-spacing: 0.08em;
}
.agent-content > h1 {
  font-size: 80px;
  font-family: fantasy;
  margin-bottom: 10px;
}
.agent-content > button {
  background-color: #ff3c46;
  padding: 18px 32px;
  color: white;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.agent-content > button:hover {
  color: black;
  background-color: white;
}
/*  Game Play Section*/
.gameplay-container {
  height: 80vh;
  width: 100%;
  /* border: 2px solid black; */
  background-image: url(/assets/grey-bg.png);
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.gameplay-container > article {
  width: 45%;
  height: 90%;
  /* border: 2px solid black; */
}
.gameplay-video-container > video {
  height: 100%;
  width: 100%;
}
.gameplay-content {
  padding: 8px;
}
.gameplay-content > h1 {
  font-size: 80px;
  font-family: fantasy;
  margin-top: 16px;
}
.gameplay-content > div {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
  margin-block-start: 0.6em;
}
.gameplay-content > p {
  font-size: 14px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;

  font-weight: 400;
  font-family: DINNextW1G, Inter, sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: black;
}
.gameplay-content > button {
  background-color: #ff3c46;
  color: white;
  padding: 18px 32px;
  border: none;
  margin-top: 25px;
  cursor: pointer;
}
.gameplay-content > button:hover {
  color: white;
  background: black;
  transition: 0.2s;
}
/* Your Agent Section  */
.your-agent-container {
  height: 90vh;
  width: 100%;
  background-image: url(/assets/red-bg.png);
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.your-agent-container > article {
  width: 45%;
  height: 90%;
  /* border: 2px solid black; */
}
.your-agent-image-container > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.your-agent-content {
  padding: 130px 0;
  color: #ece8e1;
}
.your-agent-content > h1 {
  font-size: 80px;
  font-family: fantasy;
  margin-top: 10px;
}
.your-agent-content > div {
  font-size: 14px;
  display: block;
  margin-block-start: 1em;
  font-size: 18px;
  color: rgb(236, 232, 225);
}
.your-agent-content > p {
  margin-block-start: 0.5em;
  font-size: 14px;
  display: block;
  font-weight: 400;
  font-family: DINNextW1G, Inter, sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: rgb(236, 232, 225);
}
.your-agent-content > button {
  background-color: #0f1923;
  color: white;
  font-weight: 600;
  font-size: 15px;
  padding: 22px 30px;
  border: none;
  margin-top: 25px;
  cursor: pointer;
}
.your-agent-content > button:hover {
  background-color: #ece8e1;
  color: #0f1923;
  transition: 0.8s;
}
/* Your Map Section */
.your-map-container {
  height: 90vh;
  width: 100%;
  background-image: url(/assets/your-map-bg.png);
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.your-map-container > article {
  width: 45%;
  height: 90%;
  /* border: 2px solid black; */
}
.your-map-content {
  padding: 130px 0;
  color: #0f1923;
}
.your-map-content > h1 {
  font-size: 80px;
  font-family: fantasy;
  margin-top: 10px;
}
.your-map-content > div {
  font-size: 14px;
  display: block;
  margin-block-start: 1em;
  font-size: 18px;
  color: #0f1923;
  font-weight: 550;
}
.your-map-content > p {
  margin-block-start: 0.5em;
  font-size: 14px;
  display: block;
  font-weight: 400;
  font-family: DINNextW1G, Inter, sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #0f1923;
}
.your-map-content > button {
  background-color: #ff3c46;
  color: white;
  font-weight: 600;
  font-size: 15px;
  padding: 22px 30px;
  border: none;
  margin-top: 25px;
  cursor: pointer;
}
.your-map-content > button:hover {
  background-color: #0f1923;
  transition: 0.8s;
}
.your-map-image-container > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
/* Footer Section */
.footer {
  background-color: #111;
  padding: 0px 0px 48px 0px;
  border-top: 2px solid #343434;
}
.footer-link {
  user-select: none;
  box-sizing: border-box;
  font-family: "FF Mark W05", Arial, sans-serif;
  background: #292929;
  padding: 16px;
  margin: 0;
  color: #f9f9f9;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
}
.footer-link > ul {
  list-style: none;
  margin: 0;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer-link > ul > li {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #f9f9f9;
  transition: all 0.2s linear;
  letter-spacing: 22;
}
.footer-link > ul > li:hover {
  background-color: #7e7e7e;
  cursor: pointer;
  border-radius: 5px;
}
/* Social Media */
.social-media {
  user-select: none;
  box-sizing: border-box;
  padding: 18px 0;
  user-select: none;
  box-sizing: border-box;
}
.social-media > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.social-media > ul > a {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  height: 100%;
  margin: 6px;
  background: #282828;
  border-radius: 12px;
  width: 32px;
  height: 32px;
}
a > svg {
  width: 16px;
  height: 16px;
  fill: #f9f9f9;
  fill-rule: evenodd;
}
.riotgames {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 24px 0px 20px;
}
.riotgames > div > svg {
  fill: #737373;
}
.riotgames > div > svg:hover {
  fill: #f9f9f9;
  cursor: pointer;
}
.copyright {
  font-family: "FF Mark W05", Arial, sans-serif;
  margin: 0 auto;
  max-width: 640px;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  text-align: center;
  word-break: keep-all;
  color: #7e7e7e;
}
.legal {
  user-select: none;
  box-sizing: border-box;
  font-family: "FF Mark W05", Arial, sans-serif;
  padding: 24px 0px 28px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
}
.legal > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.legal > ul > li {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #f9f9f9;
  transition: all 0.2s linear;
  border-radius: 7%;
}
.legal > ul > li:hover {
  cursor: pointer;
  background-color: #343434;
}
.notices {
  user-select: none;
  box-sizing: border-box;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.notices > .footer-notices {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 8px 12px;
  background: #292929;
  border-radius: 8px;
}
.notices > div > img:hover {
  cursor: pointer;
}
